@import "../styles/variables";
@import "../styles/utils";

.wrapper {
  margin-top: 10rem;

  @include mobile {
    margin-top: 4rem;
  }

  padding: 5rem 0;

  @include mobile {
    padding: 3rem 0;
  }

  a {
    &, &:visited {
      color: $lightWhite;
    }

    &:hover {
      color: white;
    }
  }
}
