$primaryColor: #3887D0;
$secondaryColor: #E39942;
$textColor: #273949;
$lightWhite: #F8F8F8;

$gutter: 2rem;
$containerWidth: 12 * 3rem + 11 * $gutter;
$largeContainerWidth: 12 * 3.75rem + 11 * $gutter;

$breakpoints: (
    mobile: 42rem,
    tablet: 60rem,
    desktop: 81rem,
)
